<div class="center-div" style="vertical-align: middle">
<div><h2>Choose The Wiring Type:</h2></div>

<button type="button"  class="btn btn-lg btn-primary" ><a style='color:white' [routerLink]="['/layout/type1']" >Type 1</a></button>
<button type="button" style="margin:20px;" class="btn btn-lg btn-primary" ><a style='color:white' [routerLink]="['/layout/type2']" >Type 2</a></button>
<button type="button"  class="btn btn-lg btn-primary" ><a style='color:white' [routerLink]="['/layout/type3']" >Type 3</a></button>
</div>

