<br><br><br><br>
<div  class='pos'>
<button type="button" class="btn btn-lg btn-primary" ><a style='color:white' [routerLink]="['/layout/efficiency2']" >Daily Efficiency</a></button>
<br><br>
<button type="button" class="btn btn-lg btn-primary" ><a style='color:white' [routerLink]="['/layout/month2']" >Efficiency per month</a></button>
<br><br>
<button type="button" class="btn btn-lg btn-primary" ><a style='color:white' [routerLink]="['/layout/historique2']" >History</a></button>
<br><br>

<button type="button" class="btn btn-dark"><a style='color:whitesmoke' [routerLink]="['/layout/type']">Select The Type</a></button>
</div>
