<br><br><br><br>

	<!-- Content page -->
	<section class="p-t-65 p-b-60 col-12">
    <div class="p-t-65 p-b-60 col-sm-5 col-lg-12">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-5 p-b-50 content-center" id="divi">
					<div>
						<h3 class="m-txt28 rs1-color p-b-40">
						Authentication
						</h3>

						<form [formGroup]="loginGroup" id="contact-form" class="flex-w flex-sb validate-form" method="post"  name="contact" >


							<div class=" col-md-12 size25 w-full-lg m-b-20 validate-input" data-validate = "Valid email is: ex@abc.xyz">
								<input class="s-txt31 size-full cl-ph-1 bo6 input-focus-1 bo-rad-2 p-l-18 p-r-18" type="email" formControlName ="email" [(ngModel)]="user.email" placeholder="Your Email" required>
							</div>

							<div class=" col-md-12 size25 w-full-lg m-b-20">
								<input class="s-txt31 size-full cl-ph-1 bo6 input-focus-1 bo-rad-2 p-l-18 p-r-18" type="password" formControlName ="password" [(ngModel)]="user.password" placeholder="votre mot de passe" required>
							</div>



							<div>
								<!-- Button -->
								<button [disabled]="!loginGroup.valid"  (click)="login()" class="btn btn-primary" type="submit">
								login
                </button>


                 <button type="button" class="btn btn-link" [routerLink]="['/register']" routerLinkActive="router-link-active" style="position:relative;" >you don't have an account ?</button>


              </div>

            </form>
            <!----- <button class="btn btn-danger"  (click)="google_signin()"style="position: relative;top:-45px;left:60px;">
              <span class="fa fa-google-plus"></span> sign in with google
             </button>------>
             <div *ngIf='a !== undefined' class="alert alert-danger" role="alert">
              {{a}}
            </div>
					</div>
				</div>


			</div>
    </div>
  </div>
	</section>


